html,
body {
    width: 80%;
    margin: auto;
    position: fixed;
    top: 20%;
    left: 30%;
    transform: translate(-20%, -30%);
}

.heading {
    text-align:start;
}

.main-content {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;
    align-items: center;
    gap: 64px;
    padding: 20px;
    max-width: fit-content;
}

.left-content {
    display: grid;
    grid-template-columns: auto;
    justify-content: flex-start;
    align-items: center;
}

.top-left {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.left-content > .top-left > .btn {
    padding:6px;
}

.display-scores {
    display: grid;
    grid-template-columns: auto;
    justify-content: flex-start;
    border: 2px solid black;
    padding: 10px;

}

.right-content {
    display: grid;
    grid-template-columns: auto;
    justify-content: space-between;
    align-items: center;
    gap: 18px;
}

.right-content> .btn {
    align-self: flex-end;
    padding: 6px;
    margin-left: 126px;
    width: 30%;

}

.right-content > input {
    border: 1px solid black;
}




