html,
body {
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  align-items: center;
  width: 60%;
  margin: auto;
  position: fixed;
  top: 20%;
  left: 30%;
  transform: translate(-20%, -30%);
}

.heading {
  align-self: start;
}

.main-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 20px;
  width: 100%;
  background-color: rgb(177, 197, 197);
  border-radius: 10px;
  padding: 30px;
}

.left-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 18px;
  background-color: rgb(209, 223, 218);
  border-radius: 10px;
  padding: 10px;
  color: rgb(53, 57, 59);
}

.top-left {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
}

.top-left > .btn {
  cursor: pointer;
  background-color: rgb(141, 53, 230);
  border-radius: 5px;
  color: rgb(231, 237, 238);
  padding: 10px 30px;
  border: transparent;
  box-shadow: 1px 2px rgb(166, 175, 166);
}

.form > .btn {
  align-self: flex-end;
  padding: 8px;
  margin-left: 106px;
  width: 50%;
  cursor: pointer;
  background-color: green;
  border: transparent;
  border-radius: 5px;
  box-shadow: 1px 2px rgb(166, 175, 166);
  color: white;
}

.display-scores {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 2px solid rgb(213, 213, 223);
  list-style-type: none;
  gap: 8px;
  border-radius: 10px;
  padding-left: 0;
  width: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
}

.display-scores > li {
  display: flex;
  justify-content: space-between;
  border-radius: 4px;
  padding: 10px 0 10px 10px;
  min-width: max-content;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
}

.display-scores :nth-child(even) {
  background-color: rgb(21, 21, 122);
  color: rgb(238, 234, 229);
}

.display-scores :nth-child(odd) {
  background-color: rgb(24, 148, 121);
  color: rgb(238, 234, 229);
}

.right-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 18px;
  background-color: rgb(18, 18, 78);
  border-radius: 10px;
  padding: 20px;
  color: aliceblue;
}

.form {
  display: grid;
  grid-template-columns: auto;
  justify-content: space-between;
  align-items: center;
  gap: 28px;
}

.form > input {
  border: 2px solid black;
  border-radius: 4px;
  padding: 10px 20px;
}
